.container-home{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgb(242, 242, 242) ;
}

.subcontainer-home{
    box-shadow: 0 0 0 1.5 rgba(171, 171,171, 0.3);
    width: 70%;
    height: 89%;
    display: flex;
    border-radius: 5px;
    background: #fff;
}

/* Conteúdo do lado esquerdo */
.subcontainer-left{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.subcontainer-left h1{
    font-size: 28px;
    margin: 20px 0;
}

.subcontainer-left p{
    font-size: 18px;
    margin: 20px 0;
    max-width: 400px;
    text-align: center;
}

.container-form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container-form input{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid #797979;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 17px;
}

.container-form textarea{
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    border: 1px solid #797979;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 17px;
    resize: none;
}

.container-form .btn-save{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 17px;
    cursor: pointer;
    background: #fc0d0d;
    color: #fff;
    margin-top: 20px;
    transition: all ease 0.2s;
}

.container-form .btn-save:hover{
    background: #fc0d0d;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.4);
}

/* Conteúdo do lado direito */
.subcontainer-right{
    border-left: 1px solid #cacaca;
    width: 100%;
    padding: 10px;
    background: rgb(239, 239, 239);

}

.subcontainer-right li{
    padding: 10px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e93939;
    margin: 5px 0; 
}

.subcontainer-right li div h3{
    font-weight: 300;
    font-size: 15px;
}
